/*@font-face
{
	font-family: "Microsoft Yi Baiti";
	src : url(../font/msyi.ttf);
}

@font-face
{   
  font-family: MicrosoftYiBaiti;
  src : url(../font/msyi.ttf) format('truetype');

  font-family: "sertig";
  src : url(../font/Sertig.ttf) format('truetype'),
      url(../font/Sertig.otf);
}

@font-face
{
	font-family: "lucida sans" 
	src : url(../font/LSANSD.TTF) format('truetype');
}

@font-face
{
	font-family: "sertig";
	src : url(../font/Sertig.ttf) format('truetype'),
			url(../font/Sertig.otf);
}*/