body { 

	margin: 0;
	padding: 0;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'Lato', sans-serif;
  	font-weight: 400;

	}

h1 { 

	font-weight: 700;
	line-height: 1.2em;
	font-size: 64px;
	color: #2b2e31;
	margin-bottom: 60px;

}

h1 .rotate_text { 

	color: #809bb2;

 }

 #step2 h1, #step3 h1 { font-size: 52px; margin-top: 15px; margin-bottom: 25px; }

 #step2 .info { color: #809bb2; font-size: 16px; line-height: 1em; }

 #step2 .btn { width: 250px; display: inline-block; margin: 4px; text-align: left; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

 #step2 .btn:hover { background: #2d2f32; color: #fff; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }



 #step2 .btn span { float: right; }



header { 

	width: 172px;
	height: 140px;
	//position: relative;
	//left: 50%;
	//margin-left: -86px;
	//top: 40px;
	margin: -100px auto 0;

  }


 section { 


 	width: 100%;
 	text-align: center;
	position: absolute;
	min-height: 285px;
	top: 50%;
	margin-top: -100px;
	//margin-top: 95px;
	
 }

 .btn {
	cursor: pointer;
	background: #f6c913 no-repeat;
	font-size: 16px;
	color: #000;
	padding: 20px 30px;
	border-radius: 2px;
	text-decoration: none;
	font-weight: 700;
	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}	

.btn:hover{
 	background: #2d2f32; color: #fff;
 	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
} 


footer {

	background: transparent;
	font-size: 16px;
	text-align: center;
	position: absolute;
	bottom: 40px;
	width: 100%;

 }

 #step2, #step3 { display: none; }

 #fieldEmail { padding: 20px 30px; border-radius: 2px; font-size: 14px; border: 1px solid #809bb2; width: 250px; font-family: 'Lato', sans-serif;
  	font-weight: 400; }

 form { margin-top: 30px; }

 .Better-logo{

 }
 .app-store {
    width: 155px;
}
.text{
	margin-right: 10px;
}
#ball {
    background-image: url("../img/better_main.png");
    width: 172px;
    height: 140px;
    position: relative;
    cursor: pointer;
    z-index: 999;
}
.text, .rotate_text{
	float: left;
}
#step1 > h1 {
    float: left;
    left: 19.5%;
    position: relative;
    //top: 50%;
    //margin-top: 0;
}
/*#step1 > h1 {
    position: relative;
    top: 50%;
}*/
.better_btn {
    clear: both;
    display: block;
    width: 100%;
}
section#step2 {
	//top: 46%;
}

@media (max-width: 768px){
	#step1 > h1 {
	    //left: 18%;
	}
	.text, .rotate_text {
	    clear: both;
	    display: block;
	    float: none;
	}
	section {
	    top: 44%;
	}
}
@media (max-width: 360px){
	#step1 > h1 {
		font-size: 42px;
	    left: 4.5%;
	}
	.text, .rotate_text {
	    clear: both;
	    display: block;
	    float: none;
	}
	section {
	    top: 47%;
	}
}
@media (max-width: 320px){
	#step1 > h1 {
		font-size: 36px;
	    left: 6.5%;
	    margin-bottom: 40px;
	}
	.text, .rotate_text {
	    clear: both;
	    display: block;
	    float: none;
	}
	section {
	    top: 54%;
	}
}